@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    font-family: Arial, sans-serif;
    background-image: url("../img/fundo.webp");
    
    background-size: cover; /* Para cobrir todo o conteúdo da body */
    background-repeat: no-repeat; /* Para não repetir a imagem */
   
    
}

.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    text-align: left;
    color: #23B5D3;
}

p{
    font-size: 10px;
}
h3{
    text-align: left;
    color: #23B5D3;
    font-size: 10pt;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px
}

form input,
form button {
    padding: 10px;
    border: 1px solid #23B5D3;
    border-radius: 5px;
}
form #nomeCompleto,#cpf,#email,#confirmarEmail{
    width: 100%;
}
form #dataNascimento,#telefone,#senha,#confirmarSenha{
    width: 100%;
}
.form-row {
    display: flex;
    gap: 15px;
     
}
.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-label input {
    margin-right: 10px;
    width: 5%;
}

.termos{
    font-size: 6pt;
    color: #23B5D3;
}

.formatacao_senha{
    width: 100%;
    color: rgb(89, 89, 89);
    font-size: 6pt;
    text-align: left;
}

form button {
    width: 100%;
    background-color: #23B5D3;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* telas menores */
@media screen and (max-width: 600px) {
    
    .container {
        padding: 10px;
    }

}




 