* {
    font-family: 'Poppins';
}

.conteudo {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: auto;
    padding: 10px;
}



.container-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
}

.card-viagem-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 430px;
    width: 500px;
    background-color: var(--cor-card);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-resumo {
    width: 350px;
    height: 430px;
    background-color: var(--cor-card);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    height: 10%;
    width: 90%;
}

.header-card a {
    font-weight: 500;
}

.header-card h6 {
    margin: 0;
}

.icon-voo {
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.detalhes-viagem {
    display: flex;
    gap: 10px;
}

.container-card-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.container-card-detalhes a {
    width: 100%;
}

.container-voo-info {
    width: 100%;
    height: 55%;
}

.container-voo-info-voo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 55%;
}

.container-voo-info-total {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.preco-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 5px;
}

.form-turismo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.preco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.preco span {
    font-weight: 700;
}

.preco-total {
    font-size: 2rem;
}

.reembolso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    color: #0FA96E;
    border: 2px solid #0FA96E;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: #DCF8E8;
}

.form-turismo label {
    margin: 0;
}


.ida-volta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
    gap: 10px;
}

.ida-volta i {
    font-size: 1.5rem;
}

.ida-info {
    display: flex;
    flex-direction: column;
}

.container-hotel-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.img-hotel {
    height: 100%;
    width: 160px;
    border-radius: 15px;
}

.img-hotel img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.info-hotel {
    width: 60%;
    height: 100%;
}

.avaliacao-beneficios {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 25px;
    margin-top: 10px;
}

.nota {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
    width: 25px;
    height: 100%;
    background-color: rgb(8, 117, 41);
    border-radius: 3px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
}

.beneficio {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
}

.entrada-saida {
    width: 100%;
    height: 70px;
}

.entrada-saida {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entrada,
.saida {
    display: flex;
    gap: 10px;
}

.quarto-info {
    height: 70px;
    width: 100%;
}

.cafe {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-voo {
    height: 50px;
    border: 1px solid #2723D3;
    color: #2723D3;
    font-weight: 600;
    border-radius: 10px;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s all;
}

.btn-alerta {
    height: 50px;
    border: 1px solid var(--cor-btn-alerta);
    color: var(--cor-fonte-botoes);
    font-weight: 600;
    border-radius: 10px;
    width: 100%;
    background-color: var(--cor-btn-alerta);
    cursor: pointer;
    transition: 0.3s all;
}

.btn-voo:hover {
    background-color: #2723D3;
    color: #FFF;
    outline: none;
}

.btn-alerta:hover {
    background-color: var(--cor-btn-alerta-hover);

}

.header-section {
    padding: 60px 0px 20px 0px;
}

.estado {
    color: var(--cor-primaria-azul);
}

/* Listagem de hotéis */

.container-hotel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 100%;


}

.card-hotel {
    display: flex;
    width: 1000px;
    height: 350px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    min-width: 300px;
}

.hotel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 40%;
    height: 100%;
}

.hotel-preview {
    width: 30%;
    height: 100%;
}

.hotel-resumo {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hotel-info>.info-hotel {
    width: 100%;
}

.resumo-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.despesa-hotel {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}


.btn-fundo {
    background-color: var(--cor-primaria-azul);
    border: none;
    color: var(--cor-fonte-botoes);
}

.btn-fundo:hover {
    background-color: var(--cor-fonte-hover);
}


.hotel-preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

#nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}


.modo-noturno {
    background-color: rgb(47, 47, 47);
    color: var(--cor-fonte-botoes);
}

.modo-noturno-card {
    background-color: rgb(58, 58, 58);
    color: #fff;
}

.modo-noturno-texto {
    color: var(--cor-fonte-botoes);
}

.modo-noturno-btn {
    background-color: #2723D3;
    color: var(--cor-fonte-botoes);
}
.none{
    display: none;
}

/* Modal */

.container-img-hotel img{
    height: 100%;
    width: 100%;
}

.preco-detalhes ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.resumo-detalhes ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal-resumo, #modal-resumo-hotel{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f8f;
    position: fixed;
}

.modal-conteudo, .modal-hotel{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 650px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    padding: 30px;
    max-height: 90vh;
    overflow-y: scroll;
}

.modal-hotel{
    width: 800px;
}

.lista{
    display: flex;
    flex-direction: column;
 
  list-style: none;
}

.detalhes-titulo{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
    padding-bottom: 15px;
}

.detalhes-titulo i{
    font-size: 1.5rem;
    cursor: pointer;
}

.ida-info{
    padding-top: 30px;
}

.icon-voo{
    height: 20px;
}

.classe-duracao{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.info-item h3{
    font-weight: 300;
}

.viagem-destino{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.308);
    margin-top: 20px;
}
.container-detalhes-hotel{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-img-hotel{
    width: 100%;
    height: 400px;
    background-color: #2723D3;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ar button{
   background-color: transparent;
   border: none;
   height: 400px;
}




@media screen and (max-width: 900px) {

    .modal-hotel{
        height: 600px;
        overflow: scroll;
    }

    .container-img-hotel{
        height: 200px;
    }
    .container-hotel {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        overflow: auto;
    }

    .carousel-control-prev{
        height: 20px;
    }

    .card-hotel {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .info-hotel {
        padding-left: 10px;
    }

    .hotel-preview {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 100%;
    }

    .hotel-preview img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .dados-hotel {
        width: 100%;
    }

    .card-viagem-info,
    .card-resumo {
        width: 100%;
    }


    .container-carrinho {
        display: flex;
        flex-direction: column;
    }

    .header-section {
        text-align: center;
    }

    .valor {
        display: none;
    }

    .quarto-info {
        margin-top: 20px;
    }


}

@media screen and (min-width:901px) {

    @media screen and (max-width: 1257px) {

        .container-hotel {
            justify-content: center;
            align-items: center;
        }

        .card-hotel {
            width: 800px;
        }

        .info-hotel {
            padding-left: 10px;
        }


        .container-carrinho {
            display: flex;
            flex-direction: column;
        }
        .container-resumos{
            display: flex;
            flex-direction: column;
            background-color: red;
            justify-content: space-between;
            width: 100%;
            height: auto;
        
        }

        .card-resumo {
            width: 500px;
        }

        .header-section {
            text-align: center;
        }
    }


}



@media screen and (min-width: 1258px) {
    @media screen and (max-width: 1398px) {

        .card-viagem-info {
            width: 450px;
        }

        .info-hotel {
            padding-left: 10px;
        }

        .conteudo {
            max-width: 1300px;
        }

    }
}