body {
    font-family: Arial, sans-serif;
    background-image: url("../img/fundo.webp");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-size: cover; /* Para cobrir todo o conteúdo da body */
    background-repeat: no-repeat; /* Para não repetir a imagem */
   
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.login-container h2, p {
    margin-top: 0;
    text-align: center;
}
.login-container form {
    display: flex;
    flex-direction: column;
}


.login-container form input[type="email"],
.login-container form input[type="password"] {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border: 2px solid #23B5D3;
}

.esqueci_senha {
    text-align: right;
    color: #23B5D3;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 13px;
    margin-right: 15px;
}
.login-container form button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #23B5D3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    width: 50%; 
    margin-left: 25%;
    margin-right: 10%;
}

.criar-conta{
    text-align: center;
    margin-bottom: 20px;
}
.criar-conta a {
    color: #23B5D3;
    text-decoration: none;
}
.continue-with {
    text-align: center;
    margin-top: 20px;
}
.social-login {
    margin-top: 10px;
}
.social-login a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    border: 2px solid #23B5D3;
    padding: 10px;
    border-radius: 8px;
}
.social-login a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.social-login a span {
    flex: 1;
    text-align: center;
}




/* Estilos para telas menores */
@media screen and (max-width: 600px) {
    
    .login-container {
        padding: 10px;
    }

}