* {
    font-family: 'Poppins';
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-image: url('/img/saopaulo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: red;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 80%;
    justify-content: space-around;
    gap: 10px;
    padding-left: 10px;
}

.conteudo {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: auto;
}

/* Pacotes */

.header-pacote {
    display: flex;
    padding: 60px 0px 10px 0px;
    justify-content: space-between;
}

.container-filtro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:530px;
}

.container-btn-filtro {
    display: flex;
    gap: 10px;
    
}

.btn-filtro{
    height: 50px;
    width: 260px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    background-color: blue;
    color: var(--cor-fonte-botoes);
}

.search {
    height: 50px;
    width: 535px;
    outline: none;
    border: 1px solid grey;
    padding: 20px;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #fff;
}

.pacotes {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    list-style: none;
}

.container-pacotes {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;

}

.card-pacote {
    height: 450px;
    width: 24%;
    background-color: #fff;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
}

.card-img {
    width: 100%;
    height: 50%;
}

.card-img img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 50%;
    padding-left: 30px;
    padding-top: 15px;
}

.voo-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.voo-item i{
    opacity: 50%;
}

.preco-confirm {
    display: flex;
    flex-direction: column;
}

.preco-confirm a{
    text-decoration: none;
}

.preco-confirm span {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--cor-primaria-azul);
}

.btn-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    border: none;
    background-color: var(--cor-primaria-azul);
    color: var(--cor-fonte-botoes);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-comprar:hover {
    background-color: var(--cor-fonte-hover);
}

.oferta {
    position: absolute;
    bottom: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    background-color: var(--cor-btn-alerta);
}

.oferta span {
    font-weight: 500;
    color: var(--cor-fonte-botoes);

}

.estado{
    font-weight: 700;
    color: var(--cor-primaria-azul);
}

@media screen and (max-width: 620px){

<<<<<<< HEAD

.nofound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.nofound img{
    height: 300px;
}

.teste{
    display: flex;
}
.error{
    display:none;
}

@media screen and (max-width: 620px) {
=======
>>>>>>> 528046cb13b2d1b428fef473ec2a4a851014ec84


    .container-titulo{
        justify-content: center;
        align-items: center;
    }
    
    .container-pacotes, .pacotes{
        display: flex;
        text-align: center;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        overflow: auto;
        margin-top: 30px;
    }

    .card-pacote{
        justify-content: flex-start;
        text-align: left;
    }

    .container-titulo{
        justify-content: center;
        align-items: center;
    }

    .container-titulo h1{
        font-size: 3.5rem;
        display: none;
    }
    

    .container-titulo h2{
        display: none;
    }

    .container-btn-filtro{
        display: flex;
        flex-direction: column;
    }

    .btn-filtro{
        width: 350px;
    }

    .search{
        width: 350px;
    }
}

@media screen and (min-width: 621px){

    @media screen and (max-width: 998px){

        .conteudo{
            max-width: 900px;
        }
        .card-pacote{
            width: 48%;
        }

        .container-titulo{
            justify-content: center;
            align-items: center;
        }

        .header-pacote{
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

}
    
@media screen and (min-width: 998px){

    @media screen and (max-width: 1258px){

        .conteudo{
            max-width: 1000px;
        }
        .card-pacote{
            width: 32%;
        }

        .container-titulo{
            justify-content: center;
            align-items: center;
        }


    }

}

@media screen and (min-width: 1258px){
    @media screen and (max-width: 1398px) {

        .container-titulo{
            width: 1200px;
        }
        .conteudo{
            max-width: 1200px;
        }

        .card-pacote{
            width: 24%;
            min-width: 100px;
        }


    }
}
