* {
    font-family: 'Poppins';
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    padding: 300px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: auto;
    padding: 70px 10px;
    padding-top: 120px;

}



.cadastros{
    width: 60%;
    height: auto;
}

.resumo-total{
    width: 40%;
    border-radius: 10px;
    height: auto;
}

/* form viajantes */

.formulario{
    width: 90%;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
}

.input-item{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.input-item input, select{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 1px solid black;
}

.dados-importantes{
    display: flex;
    gap: 10px;
    width: 100%;
}

.dados-importantes input{
  width: 100%;
}

.input-item-radio{
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

.btn-comprar{
    background-color: #11AF71;
    padding: 10px 50px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-size: 1.2rem;
    transition: 0.2s all;
}

.btn-comprar:hover{
    background-color: #098554;

}



.modo-noturno-texto {
    color: var(--cor-fonte-botoes);
}

/* Card pagamento */

.titulo-3{
    padding: 30px 0px 10px 0px;
}

.card-resumo-total{
    padding: 15px;
    width: 550px;
    height: 250px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;

}

.ida-info{
    color: blue;
}

.modo-noturno {
    background-color: rgb(47, 47, 47);
    color: var(--cor-fonte-botoes);
}

.modo-noturno-card {
    background-color: rgb(68, 68, 68);
    color: #fff;
}

.resumo-gastos{
    height: 80%;
}

.gasto{
    font-size: 1.1rem;
}

.resumo-gastos ul{
    list-style: none;
    font-weight: 500;
}

.resumo-gastos li{
    display: flex;
    justify-content: space-between;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    border-top: 1px solid rgba(128, 128, 128, 0.308);
    padding: 35px 0px;
}

.preco{
    font-size: 1.5rem;
    font-weight: 600;
}

.preco-total{
    display: flex;
    align-items: center;
    gap: 5px;

}

.desconto{
    color: #11AF71;
    
}



/* test */
.card-viagem-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 500px;
}

.card-resumo {
    width: 350px;
    height: 430px;

}

.header-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.no-border{
    border: none;
}

.header-card a {
    font-weight: 500;
}

.header-card h6 {
    margin: 0;
}

.icon-voo {
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.detalhes-viagem {
    display: flex;
    gap: 10px;
}

.container-card-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 100px;
    border-radius: 20px;
}

.container-card-detalhes a {
    width: 100%;
}

.container-voo-info {
    width: 100%;
    height: 55%;
}

.container-voo-info-voo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
}

.container-voo-info-total {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.preco-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 5px;
}

.form-turismo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.preco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.preco span {
    font-weight: 700;
}

.preco-total {
    font-size: 2rem;
}

.reembolso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    color: #0FA96E;
    border: 2px solid #0FA96E;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: #DCF8E8;
}

.form-turismo label {
    margin: 0;
}


.ida-volta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
    gap: 10px;
}

.ida-volta i {
    font-size: 1.5rem;
}

.ida-info {
    display: flex;
    flex-direction: column;
}

.container-hotel-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.img-hotel {
    height: 100%;
    width: 160px;
    border-radius: 15px;
}

.img-hotel img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.info-hotel {
    width: 60%;
    height: 100%;
}

.avaliacao-beneficios {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 25px;
    margin-top: 10px;
}

.nota {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
    width: 25px;
    height: 100%;
    background-color: rgb(8, 117, 41);
    border-radius: 3px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
}

.beneficio {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
}

.entrada-saida {
    width: 100%;
    height: 70px;
}

.entrada-saida {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entrada,
.saida {
    display: flex;
    gap: 10px;
}

.quarto-info {
    height: 70px;
    width: 100%;
}

.cafe {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Detalhes hospedagem */

.hotel{
    display: flex;
    flex-direction: column;
    height: auto;
    
}

@media screen and (max-width:1119px) {
    .conteudo{
        width: 100%;
        flex-direction: column;
    }

    .cadastros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .resumo-total, .card-resumo-total, .container-card-detalhes, .card-viagem-info{
        width: 100%;
    }
    
}
