@media only screen and (max-width:480px){
    .box-title-quem-somos h2{
        font-size: 20px;
    }
    .box-title-quem-somos p{
        font-size: 14px;
        width: 400px;

    }
    .grid-quem-somos{
        grid-template-columns: repeat(1, 1fr);
    }
    .scroller__inner {
        gap: 100px;  
    }
}

@media only screen and (min-width:481px){
    @media only screen and (max-width:768px){
        .box-title-quem-somos{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
        .box-title-quem-somos h2{
            font-size: 20px;
        }
        .box-title-quem-somos p{
            font-size: 16px;
            width: 450px;

        }
        .grid-quem-somos{
            grid-template-columns: repeat(2, 1fr);
        }
        .scroller__inner {

            gap: 80px;}
    }
}
