@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis */
:root {
    --cor-primaria-azul: #23B5D3;
    --cor-secundaria-preta: #1d1d1d;
    --cor-terciaria-branca: #F8F5F5;
    --cor-background: #F4F4F3;
    --cor-fonte-titulos1: #181818;
    --cor-fonte-texto1-transparencia: #0000009b;
    --cor-fonte-hover: rgba(35, 181, 211, 0.69);
    --cor-fonte-botoes: #F6F6F6;
    --cor-fonte-subtitulo: #f8f5f5ca;
    --cor-btn-alerta: #FFBB7C;
    --cor-btn-alerta-hover: #e1944d;
    --poppins-font: "Poppins", sans-serif;
    --helvetica-neue-font: "Open Sans", sans-serif;
    --cor-card: #E6E6E6;
}

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--cor-background);
    min-height: 400vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.img-container {
    position: relative;
    display: inline-block; 
}

.text-overlay {
    position: absolute;
    top: 45.5%;
    left: 10%;
    transform: translateY(-50%);
    padding: 20px; 
    text-align: center;
}

.img-sobre {
    max-width: 85%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 0; 
    text-align: left;
    z-index: -1;
    position: relative; 
}

.sobre-container {
    position: relative; 
    max-width: 100%; 
}

.sobre-title,
.sobre-text {
margin: 0 auto;
}

.sobre-title {
    top: 38%;
    text-align: left;
    font-family: var(--poppins-font);
    font-weight: 700;
    color: var(--cor-background);
    font-size: 2.4em;
    padding-bottom: 8px;
    z-index: 1;
}

.sobre-text {
    width: 210%;
    position: absolute;
    font-family: var(--poppins-font);
    font-weight: 400;
    color: var(--cor-background);
    font-size: 1.2em;
    text-align: left;
}

.text-overlay2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;
}

.titulo-viajar {
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-fonte-titulos1);
    font-family: var(--poppins-font);
    text-align: center;
}

.paragrafo-viajar {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--cor-fonte-texto1-transparencia);
    margin-top: 15px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 45px; 
    margin-top: 40px;
}

.card {
    width: 335px;
    height: 320px; 
    border: 1.6px solid rgba(0, 0, 0, 0.374); 
    border-radius: 10px; 
    background-color: var(--cor-background);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center; 
    padding: 22px; 
}

.card strong {
    font-family: var(--poppins-font);
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-secundaria-preta);
}

.card p {
    font-family: var(--poppins-font);
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--cor-fonte-texto1-transparencia);
}

.card h2 {
    margin-top: 0; 
    font-family: var(--poppins-font);
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--cor-fonte-texto1-transparencia);
}

.card h3 {
    font-family: var(--poppins-font);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-fonte-texto1-transparencia);
}

.buy-button {
    width: 100%;
    height: auto;
    background-color: transparent;  
    border: 1.5px solid rgba(0, 0, 0, 0.374); 
    cursor: pointer; 
    padding: 10px 10px;
    border-radius: 10px;
    font-family: var(--poppins-font);
    color: var(--cor-fonte-texto1-transparencia);
}

.buy-button:hover {
    background-color: rgba(0, 0, 0, 0.032); 
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; 
}
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 80%;
    border-radius: 40px;
    margin-bottom: 0 auto;
}

.duvidas{
    text-align: center;
}

.duvidas h2{
    margin-top: 0; 
    font-family: var(--poppins-font);
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--cor-fonte-titulos1);
    margin-bottom: 30px;
}

.faq-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.faq-list li {
    background-color: #eaeaea; 
    padding: 20px;
    padding-left: 30px;
    border-radius: 7px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    width: 50%; 
    font-family: var(--poppins-font);
    font-weight: 600;
    color: var(--cor-fonte-texto1-transparencia);
    cursor: pointer;
    font-size: 1.1rem;
}

.faq-list li img {
    margin-left: auto;
    width: 25px;
}

/* Exemplo de media query para tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

/* Exemplo de media query para celular */
@media only screen and (max-width: 767px) {
    
}
