@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis */
:root {
    --cor-primaria-azul: #23B5D3;
    --cor-secundaria-preta: #000000; 
    --cor-terciaria-branca: #F8F5F5;
    --cor-background: #F4F4F3;
    --cor-fonte-titulos1: #181818;
    --cor-fonte-texto1-transparencia: #0000009b;
    --cor-fonte-hover: rgba(35, 181, 211, 0.69);
    --cor-fonte-botoes: #F6F6F6;
    --cor-fonte-subtitulo: #f8f5f5ca;
    --cor-btn-alerta: #FFBB7C;
    --poppins-font: "Poppins", sans-serif;
    --helvetica-neue-font: "Open Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-background);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo-nav {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: auto; 
}

#logo-nav img {
    width: 75px;
    height: auto; 
    margin-right: 10px;
}

#logo-nav p {
    font-family: var(--poppins-font);
    color: var(--cor-primaria-azul);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    justify-content: center; 
    flex: 1; 
}

ul li {
    margin: 0 50px;
}

ul li a {
    font-family: var(--poppins-font);
    font-weight: 600;
    color: var(--cor-fonte-texto1-transparencia);
    text-decoration: none;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: var(--cor-fonte-titulos1);
}

.titulo-1{
    font-size: 3.7rem;
    font-weight: 700;
    color: var(--cor-terciaria-branca);
}

.titulo-2{
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-secundaria-preta);
}

.titulo-3{
    font-size: 1.3rem;
    font-weight: 650;
    color: var(--cor-secundaria-preta);
}

.subtitulo{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-fonte-subtitulo);
}

.subtitulo-2{
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-fonte-texto1-transparencia);
}

#nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#nav-buttons button {
    font-family: var(--poppins-font);
    font-weight: 600;
    color: #FFF;
    background-color: var(--cor-primaria-azul);
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    margin-right: 10px; 
    border-radius: 25px;
}

#nav-buttons a {
    font-family: var(--poppins-font);
    font-weight: 500;
    color: var(--cor-fonte-texto1-transparencia);
    text-decoration: none;
    margin-right: 30px;
}

#nav-buttons a:hover {
    color: var(--cor-secundaria-preta); 
}


.desktop-header {
    display: block; 
}


.mobile-header {
    display: none;
}

#ajuda-mobile {
    display: none; 
}

@media screen and (max-width: 1020px) {
    .desktop-header {
        display: none; 
    }

    .mobile-header {
        display: block; 
    }

    #nav-buttons {
        margin-top: 30px;
        text-align: left;
        padding: 10px 20px;
    }

    #nav-buttons button {
        font-family: var(--poppins-font);
        font-weight: 600;
        color: var(--cor-fonte-titulos1);
        background-color: #fff;
        border: 1px solid var(--cor-fonte-texto1-transparencia);
        margin-right: 0; 
        padding: 8px 30px;
    }

    .navbar-nav {
        margin: 10px 0px 20px 0px;
        font-size: 1.1rem; 
    }

    .navbar-nav .nav-item.active {
        margin-left: 0; 
    }
    

    #ajuda-mobile {
        display: block;
        margin-top: 20px;
        padding-left: -10px;
        font-size: 0.9rem; 
    }

    #ajuda-mobile h3 {
        padding-left: 30px;
        font-size: 1.2rem; 
        margin: 50px 0px 20px 0px;
    }

    #ajuda-mobile ul {
        padding-left: 0; 
        display: flex;
        flex-direction: column; 
    }
    
    #ajuda-mobile ul li {
        margin-bottom: 5px; 
        font-family: var(--poppins-font);
        align-items: center;
    }

    #ajuda-mobile ul li img {
        margin-left: 15px; 
        width: 24px; 
        height: auto; 
        margin: 10px 5px 12px -9px;
    }
    
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%; 
        height: 100%;
        width: 80%; 
        background-color: #fff;
        transition: right 0.3s ease; 
    }

    .navbar-collapse.show {
        right: 0; 
    }

    .navbar-toggler {
        border: none; 
        outline: none; 
    }

    .navbar-toggler span {
        border: none;
    }

    .close-menu {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.5rem;
        color: var(--cor-secundaria-preta);
        background: none;
        border: none;
        cursor: pointer;
    }
}