@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis */
:root {
    --cor-primaria-azul: #23B5D3;
    --cor-secundaria-preta: #000000; 
    --cor-terciaria-branca: #F8F5F5;
    --cor-background: #F4F4F3;
    --cor-fonte-titulos1: #181818;
    --cor-fonte-texto1-transparencia: #00000070;
    --cor-fonte-hover: rgba(35, 181, 211, 0.69);
    --cor-fonte-botoes: #F6F6F6;
    --poppins-font: "Poppins", sans-serif;
    --helvetica-neue-font: "Open Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo-nav {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

#logo-nav img {
    width: 75px;
    height: auto; 
    margin-right: 10px;
}

#logo-nav p {
    font-family: var(--poppins-font);
    color: var(--cor-primaria-azul);
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 100px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    font-family: var(--poppins-font);
    font-weight: 600;
    color: var(--cor-fonte-texto1-transparencia);
    text-decoration: none;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: var(--cor-fonte-titulos1);
}

#nav-buttons {
    display: flex;
    align-items: center;
}

#nav-buttons button {
    font-family: var(--poppins-font);
    font-weight: 600;
    color: #FFF;
    background-color: var(--cor-primaria-azul);
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    margin-right: 10px; 
    border-radius: 25px;
}

#nav-buttons a {
    font-family: var(--poppins-font);
    font-weight: 500;
    color: var(--cor-fonte-texto1-transparencia);
    text-decoration: none;
    margin-right: 30px;
}

#nav-buttons a:hover {
    color: var(--cor-secundaria-preta); 
}

@media screen and (max-width: 1020px){
    /*Classes Gerais*/

    /*Cabeçalho*/
    #nav-buttons{
        display: none;
    }

    .lista-nav{
        display: none;
    }
}