
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    font-family: poppins;
}

main {
    background-color: F1F1F1;
    height: 2300px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
body {
    background-color: #e2dfdf51;
}

p {
    text-decoration: none;
}
 
button{ 
    border: none;
 }
.esconder{
    display: none;
}
#SECP1 {
    position: relative;
    height: 6%;
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#P1 {
    position: relative;
    background-color: #d9d7d7b1;
    height: 50%;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#P1 div {
    position: relative;
    background-color: #D9D9D9;
    height: 80%;
    width: 30%;
    margin-left: 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#P1 div input {
    accent-color: #37ff00b1;
    border: 5px;
    height: 40px;
    width: 25px;
}

#P1 div p {
    font-size: 20px;
}

#P2 {
    position: relative;
    background-color: #D9D9D9;
    height: 50%;
    width: 70%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#DV1P2 {
    position: relative;
    height: 80%;
    width: 40%;
    border-radius: 15px;
    border: 1px rgb(113, 110, 110) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subdiv {
    position: relative;
    height: 100%;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0px;
}

.textmini {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0px;
}


.textnormal {
    font-size: 15px;
    margin-top: 5px;
}

#DV2P2 {
    position: relative;
    height: 80%;
    width: 35%;
    border-radius: 15px;
    border: 1px rgb(113, 110, 110) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#DV3P2 {
    position: relative;
    height: 80%;
    width: 12%;
    border-radius: 15px;
    border: 1px rgb(113, 110, 110) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#DV3P2 select {
    height: 100%;
    width: 90%;
    text-align: center;
    background-color: #23b6d300;
    border: 0px;
    outline: none;
    transition: 0.5s all;
    cursor: pointer;
}

#Hero {
    position: relative;
    height: 20%;
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.slider{
    margin-left: 20px;
    margin: 0 auto;
    width: 68%;
    height: 100%;
    padding: 0 !important;
    overflow: hidden;
    float: left;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.slider-content{
    width: 580%;
    height: 100%;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.5s;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.slide-box img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 30%;
    margin-left: -15%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #FFF07C;
    padding: 10px;
    width: 5%;
    border-radius: 15%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #FFF07C;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #FFF07C;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
#Hero img {
    height: 100%;
    width: 69%;
    margin-left: 0px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    float: left;
}

#ARTright {
    position: relative;
    background-color: #FFF07C;
    height: 100%;
    width: 28%;
    float: left;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#txth4 {
    position: relative;
    height: 20%;
    width: 100%;
    margin-top: 80px;
}

#ARTright h4 {
    color: black;
    font-size: 30px;
    text-align:start ;
    margin-left: 15px;
    font-weight: 500;
}

#ARTright h4 strong {
    font-size: 30px;
    margin-top: -20px;
    margin-left: 0px;
    
}

#txth6 {
    position: relative;
    height: 10%;
    width: 100%;
    
}

#ARTright h6 {
    color: black;
    font-size: 15px;
    margin-left: 15px;
    font-weight: 300;
}

#txth2 {
    position: relative;
    height: 20%;
    width: 30%;
    margin-top: 15px;
}

#ARTright h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    float: left;
    margin-left: 10px;
    margin-top: 60px;
}

#BTCP {
    position: relative;
    height: 12%;
    width: 45%;
    margin-left: 10px;
    float: left;
    background-color: #23B5D3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#BTCP p {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
#divAbsoluta{
    position: absolute;
    height: 700px;
    width: 200%;
    background-color: #fff07ce7;
    margin: auto;
    top: 5px;
    left: -700px;
    z-index: 2;  
    border-radius: 20px;
    display: none;
}
#HENone{
    margin-top: 0px;
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: end;
}
#HENone p{
    margin-left: 60px;
    font-size: 20px;
    margin-bottom: 0px;
}
#SECNone{
    position: relative;
    height: 75%;
    width: 90%;
    margin: auto;display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.caixasPG{
    position: relative;
    background-color: #DADADA;
    height: 20%;
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
}
.caixasPG p{
    margin-left: 30px;
    font-size: 18px;
}
#infoPG{
    margin-top: 15px;
    position: relative;
    background-color: #F1F1F1;
    height: 65%;
    width: 100%;
    display: none;
}
.form{
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
}
.form-content{
    position: relative;
    height: 22%;
    width: 100%;
    display: flex;
    align-items: center;
}
.difere{
    display: flex;
    justify-content: space-around;
}
.inputcartão{
    margin-top: 15px;
    height: 50%;
    width: 40%;
    border-radius: 6px;
    text-align: center;
    border: none;
}
.lul{
    width: 60%;
}
.PGcod{
    margin-left: 5%;
}
.bt{
    display: flex;
    justify-content: end;
    align-items: center;
}
#btEnviar{
    height: 50%;
    width: 30%;
    background-color: #23B5D3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
#btEnviar{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.Seta{
    background-color: #00000000;
    margin-right: 15px;
    position: relative;
    height: 30%;
    width: 6%;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.Seta img{
    height: 100%;
    width: 100%;
}
#FOnone{
    position: relative;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
#Cancelar{
    height: 45%;
    margin-right: 15px;
    background-color: #23b6d3af;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}
#Cancelar P{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}
#ou{
    margin-right: 15px;
    margin-right: 16px;
    color: white;
    font-size: 18px;
}
#FinalizarCP{
    height: 45%;
    margin-right: 40px;
    background-color: #23B5D3;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}
#FinalizarCP p{
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}
#outrasgrandesofertas {
    position: relative;
    height: 18%;
    width: 100%;
    margin-top: 40px;
}

#outrasgrandesofertas h4 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

#outrasgrandesofertas h4 a {
    text-decoration: none;
    color: #23B5D3;
}

#ARTPrimaria {
    position: relative;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 50px;
}

.a {
    position: relative;
    text-decoration: none;
}

.ofertas {
    position: relative;
    height: 100%;
    width: 90%;
    text-decoration: none;
    transform: 1s;
}
.ofertas:hover,
Ofertas:focus {
  transform: translateX(10px) scale(1.2);
    transform: translateX(10px) scale(1.0);
}

#ARTPrimaria .ofertas img {
    height: 65%;
    width: 100%;
    border-radius: 30px;
}
.ft{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.descrição {
    position: relative;
    height: 35%;
    width: 100%;
    float: left;
}

.Iconeminitext {
    position: relative;
    height: 20%;
    width: 50%;
    margin-left: 15px;
}

.ico {
    position: relative;
    float: left;
    height: 120%;
    width: 13%;
    margin-top: 3px;
}

.DVPreço {
    position: relative;
    height: 100%;
    width: 37%;
    float: right;
    margin-top: -70px;
}

.Icpng {
    height: 20%;
    width: 10%;
}

.textGB {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    color: #000;
}

.minitext {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 30px;
    color: #00000051;
}

.Preço {
    font-size: 30px;
    text-align: center;
    color: #000;
}

#Frasesmotivacionais {
    position: relative;
    height: 18%;
    width: 100%;
    margin-top: 50px;
}

#Frasesmotivacionais h4 {
    color: black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

#ARTMotvacional {
    position: relative;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
}

#ARTMotvacional div {
    position: relative;
    height: 100%;
    width: 22%;
    margin-left: -30px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#ARTMotvacional div img {
    height: 50%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.textMVGB {
    color: black;
    font-size: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.textMVPP {
    font-size: 15px;
    color: #00000051;
    margin: 15px;
}


/************************responsivo tablet ******************************************************/


@media screen and (max-width: 1380px){
    
    #P1 div{
        width: 40%;
    }
    #BTCP{
        width: 40%;
    }
}
@media screen and (max-width: 1268px){
   
    #txth2{
        margin-top: -30px;
    }
   
    #BTCP{
        width: 50%;
        margin-top: 40px;
        margin-left: -100px;
    }    .nav-manual, .nav-auto{
        position: absolute;
        width: 100%;
        margin-top: 35%;
        margin-left: -15%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 1080px){
    #BTCP{
        width:60%;
        margin-left: -130px;
    }
    .nav-manual, .nav-auto{
        position: absolute;
        width: 100%;
        margin-top: 38%;
        margin-left: -15%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 1030px){
    
    #P1 div{
        width: 40%;
    }
    #P1 div p{
        font-size: 15px;
    }
    
    #BTCP{
        width:60%;
        margin-left: -130px;
    }
}
@media screen and (max-width: 953px){
    
    #P1 div{
        width: 60%;
    }
    #hero img{
        width: 50%;
        margin-left: 15px;
    }
    #ARTright h4{
        font-size: 20px;
    }
    #ARTright h4 strong{
        font-size: 25px;
    }
    #ARTright h6{
        margin-top: -30px;
    }  
    #BTCP{
        width:80%;
        margin-left: -190px;
    }
    #Frasesmotivacionais{
        height: 30%;
    }
    .ofertas{
        width: 70%;
        margin-left: 40px;
    }
    #ARTMotvacional{

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    #ARTMotvacional div{
        margin-left: 15px;
        margin-right: 15px;
        width: 45%;
    }
    .nav-manual, .nav-auto{
        position: absolute;
        width: 100%;
        margin-top: 46%;
        margin-left: -15%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 760px){
    
    #P1{
        width: 90%;
    }
    #P2{
        width: 90%;
    }
    #P1 div{
        width: 80%;
        margin-left: 0px;
        margin: auto;
    }
    .textmini{
        font-size: 10px;
    }
    .textnormal{
        font-size: 12px;
    }
    .slider-content{
        width: 580%;
        height: 100%;
        display: flex;
    }
    
    .slider{
        width: 92%;
        height: 28%;
        border-radius: 20px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 20px;
    }
    .slide-box{
        width: 25%;
        height: 120%;
        position: relative;
        text-align: center;
        transition: 0.5s;
    }
    
    .slide-box img{
        width: 100%;
        height: 100%;
    }
    .nav-manual, .nav-auto{
        display: none;
    }
    #ARTright{
        border-bottom-left-radius: 35px;
        border-top-right-radius: 0px;
        height: 28%;
        width: 92%;
        margin-left: 20px;
    }
    #txth4{
        margin-top: 10px;
    }
    #txth4 h4{
        font-size: 15px;
    }
    #txth4 h4 strong{
        font-size: 15px;
    }
    #txth6{
        margin-top: 25px;
    }
    #txth6 h6{
        font-size: 15px;
    }
    #txth2{
        margin-top: -70px;
        margin-left: 450px;
    }
    #txth2 h2{
        font-size: 30px;
    }
    #BTCP{
        margin: auto;
        margin-top: 0px;
        width: 90%;
        height: 25%;
        margin-left: 30px;
    }
    #BTCP a{
        font-size: 12px;
    }
    #ARTPrimaria{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
    #outrasgrandesofertas {
        width: 100%;
        height: 15%;
        margin-top: -120px;
    }
    .ofertas{
        width: 60%;
        margin: auto;
    }
    #Frasesmotivacionais{
        margin-top: 1000px;
    }
    #ARTMotvacional div{
        width: 60%;
    }



}
@media screen and (max-width: 684px){
    
    #txth2{
        margin-top: -80px;
        margin-left: 400px;
    }
    #BTCP{
        margin: auto;
        margin-top: -15px;
        width: 90%;
        height: 25%;
        margin-left: 30px;
    }
    #txth2 h2{
        font-size: 25px;
    }
    
    
    #Frasesmotivacionais{
        margin-top: 900px;
    }
}
